appdirs==1.4.4
attrs 
audioread==3.0.0
autopep8 
brotlipy==0.7.0
certifi 
cffi 
chardet==5.1.0
charset-normalizer 
contourpy==1.0.7
cryptography 
cycler==0.11.0
Cython==0.29.33
decorator==5.1.1
fonttools==4.38.0
idna 
importlib-resources==5.12.0
iniconfig 
jaconv==0.3.4
joblib==1.2.0
jsonpickle==3.0.1
kiwisolver==1.4.4
lazy_loader==0.1
librosa==0.10.0
llvmlite==0.39.1
matplotlib==3.7.0
more-itertools==9.0.0
msgpack==1.0.4
music21==8.1.0
numba==0.56.4
numpy==1.23.5
packaging 
Pillow==9.4.0
pluggy 
pooch==1.6.0
py 
pycodestyle 
pycosat 
pycparser 
pyopenjtalk==0.3.0
pyOpenSSL 
pyparsing==3.0.9
PySocks 
python-dateutil==2.8.2
pyworld==0.3.2
requests 
ruamel.yaml 
ruamel.yaml.clib 
scikit-learn==1.2.1
scipy==1.10.1
six==1.16.0
soundfile==0.12.1
soxr==0.3.3
threadpoolctl==3.1.0
toml 
tomli 
toolz 
tqdm 
typing_extensions==4.5.0
urllib3 
webcolors==1.12
zipp==3.14.0
zstandard 
